li {
  list-style-type: none;
}

ul, li {
  margin: 0;
}

.listItem {
  text-align: left;
}

.itemWrap {
  display: flex;
}

.itemWrap:not(:first-child) {
  padding-top: 20px;
    border-top: solid 1px;
    margin-top: 20px;
}

.itemWrap img {
  width: 300px;
  margin-right: 10px;
}